[submodule "lib/misulib"]
	path = lib/misulib
	url = https://github.com/misuco/misulib
[submodule "lib/mobilesynth"]
	path = lib/mobilesynth
	url = https://github.com/misuco/mobilesynth
[submodule "qmidi"]
	path = qmidi
	url = https://github.com/misuco/QMidi.git
[submodule "lib/qmidi"]
	path = lib/qmidi
	url = https://github.com/misuco/QMidi.git
